<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>タイトル</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body id="about">
    <%- include( "./_header"); %>

        <main></main>

    <%- include( "./_footer"); %>

</body>

</html>
